.ep_social_widget a {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	display: block;
	float: left;
	margin: 0 25px 25px 0;
	line-height: 1;
}

.ep_social_widget a img {
	transition: opacity .5s;
}

.ep_social_widget a:hover img {
	opacity: .7;
}

.ep_social_widget:after {
	content: ".";
	clear: both;
	visibility: hidden;
	height: 0;
	width: 0;
	display: block;
}

ul.ep_social_widget {
	list-style: none;
	padding: 0;
	margin: 0 0 15px 0;
}

ul.ep_social_widget li {
	float: left;
}
